@font-face {
    font-family: "Nami W04 Bold";
    src: url("../fonts/Nami W04 Bold.woff2") format("woff2");
}

.navbar {
    background-color: white;
    font-family: "Nami W04 Bold";
}

.navbar-title {
    font-size: 36px;
    color:  #2d6852;
    text-transform: uppercase;
}

.navbar-nav {
    font-size: 22px;
}

#quarto-header .navbar a.nav-link:hover {
    color: #222;
}

#quarto-header .navbar a.nav-link {
    color: #505050;
}

#quarto-header .navbar a.nav-link.active {
    color: black;
    text-decoration: underline;
}

.navbar-container {
    flex-direction: column;
}

.navbar-brand-container {
    position: relative;
}

.navbar-logo {
    max-height: 80px;
    position: absolute;
    left: -5rem;
    top: -5px;
}
